<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <universal_commerce>
            <api>
                <base_url></base_url>
            </api>
        </universal_commerce>
    </default>
</config>
