<?xml version="1.0" ?>
<!--
/**
 * This file is part of the Magebit_UniversalCommerce package.
 *
 * @copyright Copyright (c) 2026 Magebit, Ltd. (https://magebit.com/)
 * @author    Magebit <info@magebit.com>
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Discovery preferences -->
    <preference for="Magebit\UniversalCommerce\Api\Discovery\UcpDiscoveryProfileInterface" type="Magebit\UniversalCommerce\Model\Discovery\UcpDiscoveryProfile" />

    <!-- Idempotency preferences -->
    <preference for="Magebit\UniversalCommerce\Api\Data\IdempotencyKeyInterface" type="Magebit\UniversalCommerce\Model\IdempotencyKey\Model" />
    <preference for="Magebit\UniversalCommerce\Api\IdempotencyKeyRepositoryInterface" type="Magebit\UniversalCommerce\Model\IdempotencyKey\Repository" />

    <!-- Response preferences -->
    <preference for="Magebit\UniversalCommerce\Api\Data\Response\ErrorResponseInterface" type="Magebit\UniversalCommerce\Model\Data\Response\ErrorResponse" />
    <preference for="Magebit\UniversalCommerce\Api\Data\Response\MessageInterface" type="Magebit\UniversalCommerce\Model\Data\Response\Message" />

    <!-- Spec data preferences -->
    <preference for="Magebit\UniversalCommerce\Api\Data\Spec\BuyerInterface" type="Magebit\UniversalCommerce\Model\Data\Spec\Buyer" />
    <preference for="Magebit\UniversalCommerce\Api\Data\Spec\CheckoutCreateRequestInterface" type="Magebit\UniversalCommerce\Model\Data\Spec\CheckoutCreateRequest" />
    <preference for="Magebit\UniversalCommerce\Api\Data\Spec\ItemCreateRequestInterface" type="Magebit\UniversalCommerce\Model\Data\Spec\ItemCreateRequest" />
    <preference for="Magebit\UniversalCommerce\Api\Data\Spec\LineItemCreateRequestInterface" type="Magebit\UniversalCommerce\Model\Data\Spec\LineItemCreateRequest" />
    <preference for="Magebit\UniversalCommerce\Api\Data\Spec\PaymentClassInterface" type="Magebit\UniversalCommerce\Model\Data\Spec\PaymentClass" />
    <preference for="Magebit\UniversalCommerce\Api\Data\Spec\PaymentCredentialInterface" type="Magebit\UniversalCommerce\Model\Data\Spec\PaymentCredential" />
    <preference for="Magebit\UniversalCommerce\Api\Data\Spec\PaymentInstrumentInterface" type="Magebit\UniversalCommerce\Model\Data\Spec\PaymentInstrument" />
    <preference for="Magebit\UniversalCommerce\Api\Data\Spec\PostalAddressInterface" type="Magebit\UniversalCommerce\Model\Data\Spec\PostalAddress" />

    <type name="Magebit\UniversalCommerce\Model\Discovery\UcpDiscoveryProfile">
        <arguments>
            <argument name="capabilities" xsi:type="array">
                <item name="checkout" xsi:type="object">Magebit\UniversalCommerce\Model\Discovery\CheckoutCapability</item>
            </argument>

            <argument name="services" xsi:type="array">
                <item name="shopping" xsi:type="object">Magebit\UniversalCommerce\Model\Discovery\ShoppingService</item>
            </argument>

            <argument name="paymentHandlers" xsi:type="array">
                <!-- TODO: Remove mock -->
                <item name="mock" xsi:type="object">Magebit\UniversalCommerce\Model\Discovery\Payment\MockPaymentHandler</item>
            </argument>
        </arguments>
    </type>
</config>
