<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magebit" translate="label">
            <label>Magebit</label>
        </tab>
        <section id="universal_commerce" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Universal Commerce Protocol</label>
            <tab>magebit</tab>
            <resource>Magebit_UniversalCommerce::config</resource>
            <group id="api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Configuration</label>
                <field id="base_url" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Base URL</label>
                    <comment>Base URL for UCP API endpoints. If empty, the default store base URL will be used.</comment>
                    <validate>validate-url</validate>
                </field>
            </group>
            <group id="idempotency" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Idempotency</label>
                <field id="ttl_hours" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Stored Response TTL (hours)</label>
                    <comment>How long replayable responses are kept before the cleanup cron removes them. Set to 0 to disable cleanup.</comment>
                    <validate>validate-zero-or-greater validate-digits</validate>
                </field>
            </group>
        </section>
    </system>
</config>
